
  
  <form  class = "example-form" > 
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>ISBN</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nome do livro </mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr></table>
  
     <p>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Data de lançamento</mat-label>
        <textarea matInput placeholder="Ex. 01/01/2020"></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Descrição</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </p>
  </form>
    
 <button class="button">
  <span>Salvar</span>
 </button>
  