.example-form {
    width: 100%;
    padding-top: 110px;
  } 

  .button {
    float: right;
    margin-right: 6px;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
